
<div class="container-fluid">
  <div class="row">

    <!-- Profil utilisateur et bouton de déconnexion -->
    <div class="col-md-3 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Profil utilisateur</h1>
        </div>
        <!-- Afficher les données utilisateur lorsqu'il est connecté -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h4><strong>{{(user.displayName) ? user.displayName : 'Utilisateur'}}</strong></h4>
                <p>Utilisateur: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email vérifié: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="nav flex-column">
          <!-- Appel de l'API SignOut() depuis AuthService -->
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Se déconnecter
          </a>
        </div>
      </div>
    </div>

    <!-- Matchs -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Matchs</h1>
        </div>

        <div class="list row">
          <div class="col-md-6">
            <h4>Mes matchs favoris :</h4>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let match of matchs">
                <h4>{{ match.homeTeamName }} vs. {{ match.awayTeamName }}</h4>
                <p>Date: {{ match.date }}</p>
                <p>Competition: {{ match.matchday }}</p>
                <hr>
              </li>
            </ul>
            <h4>Derniers matchs :</h4>
            <ul>
              <li *ngFor="let match of matchsDuJour">{{ match.homeTeamName }} - {{ match.awayTeamName }}
                <button class="btn btn-primary ml-2" (click)="addToFavorites(match)">Ajouter aux favoris</button>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
